.vessel {
  margin: 1rem;
}

.btn {
  border: 0;
  width: 100%;
  margin: 0 auto 2rem;
  display: block;
  height: 2rem;
  line-height: 2rem;
  background: #409eff;
  color: #fff;
  border-radius: 0.2rem;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

.title {
  font-size: 1rem;
  color: #8d8c92;
  margin: 1rem 0;
}
