<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>jssdk test</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no, email=no" />
  <link rel="shortcut icon" href="favicon.ico">
  <!-- <script>
    window.onerror = function (msg) {
      log(JSON.stringify(msg));
    }

    function log(msg) {
      var logs = document.getElementById('logs');
      var el = document.createElement('p');
      el.innerText = msg;
      logs.appendChild(el);
    }
  </script> -->
</head>

<body>
  <div id="react-root"></div>
  <div id="react-modal"></div>
  <!-- <div id="logs"></div> -->
</body>

</html>
